<%= form_for @post, :html => { :multipart => true } do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "ошибка") %> не дает сохранить блог:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Заголовок:" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image, "Загрузить картинку:" %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :content, "Текст:" %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Создать блог" %>
  </div>
<% end %>
