 
 <% if signed_in? %>
 <tr>
  <td>
	     <div class="user_info">
	  <a href="<%= user_path(current_user) %>">
	    <%= gravatar_for current_user, :size => 30 %>
	    <span class="user_name">
	      <%= current_user.name %>
	    </span>
	    <span class="microposts">
	      <%= pluralize(current_user.microposts.count, "минипост") %>
	    </span>
	    <span class="microposts">
	      <%= pluralize(current_user.posts.count, "блог") %>
	    </span>
	  </a>
	</div>
    </td><hr />
 <% end %>

    <h1>О проекте</h1>
    <% logo = image_tag("logo.png", :alt => "логотип ЛюблюАйТи", :class => "round") %>
  <%= link_to logo, root_path %>
    <hr />
    <p>
      
     <b>Люблю АйТи</b> - это проект который призван помочь предпринимателям и дать ответы их клиентам. Каждый желающий может зарегестрироваться  и в дальнейшем публиковать свои интересные статьи (или вести блоги), связанные с миром IT, подписываться на рассылки и быть в курсе современных тенденций. <br />
    Это социальная сеть для организаций, сервисов, магазинов и их клиентов! Публикуйте блоги, тем самым привлекая клиентов, узнавайте технологичные новости, общайтесь, находите нужные вам организации, комментируйте, спрашивайте, решайте проблемы с капризной техникой быстро и удобно.
    </p>
    <hr />

<h4>Со слов Разработчика:</h4>
"...Сайт всегда являлся своеобразной рекламой, в данном случае, этот сайт, помимо информационного контента, рекламирует мой компьютерный сервис расположенный в Советском районе города Волгограда, в этом проекте хотелось бы помочь всем IT-специалистам и фирмам с продвижением и развитием.

<p>
Если Вы обычный пользователь воспользуйтесь поиском, найдите мастеров и сервисы которые Вам нужны и станьте их читателями, так же можно отправлять приватные сообщения в которых описываются проблемы связанные с вашим ПК или ноутбуком или любым другим гаджетом. В ответ вы получите новый опубликованный блог от своих читаемых мастеров с решением вашей проблемы!
</p>
<p>
Если Вы сервисный центр или просто оппытный мастер регестрируйтесь, заполняйте анкету с контактными данными и публикуйте посты, тем самым Вы повысите свой рейтинг и полезность обществу, а так же найдете новых клиентов."
</p><hr />
    <p>На момент запуска не все идеи были реализованы в проекте, о том, что сейчас находится в разработке можно узнать <a href="../indev">здесь</a>.<br />
    
    Просмотрите <a href="../help"> инструкции</a>, что бы понять, что тут есть и как этим пользоваться.<br />
   
    Узнайте больше о разработчиках и среде разработки <a href="../develop">"Процесс и разработчики"</a><br />
    </p>
