 <% if signed_in? %>
  <td>
	     <div class="user_info">
	  <a href="<%= user_path(current_user) %>">
	    <%= gravatar_for current_user, :size => 30 %>
	    <span class="user_name">
	      <%= current_user.name %>
	    </span>
	    <span class="microposts">
	      <%= pluralize(current_user.microposts.count, "минипост") %>
	    </span>
	    <span class="microposts">
	      <%= pluralize(current_user.posts.count, "блог") %>
	    </span>
	  </a>
	</div>
    </td><hr />
<% end %>
<table>
  <tr>
    <td>
<h1>О разработчиках и процессе</h1>
    <% logo = image_tag("logo.png", :alt => "логотип ЛюблюАйТи", :class => "round") %>
    <%= link_to logo, root_path %><hr />
    <h2>О разработчиках</h2>
    <ul  id="hoe">
    В создании этого проекта принимали участие:<br>
    <li><a href="../users/9">Ульянов Антон Владимирович</a> - главный разработчик <i class="border">(и пока единственный)</i></li><br>
    
    
    </ul><hr />
    <h2>О процессе разработки</h2>
    <p>Идея создания проекта возникла в сентябре 2010 года. До марта 2011 года разрабатывалась структура и идеология сайта.<br />
    К концу марта началась, непосредственно, разработка кода приложения. На основную часть поставленных задач ушло 6 месяцев, это было
    связанно с тем, что разработчик программировал на, абсолютно, не знакомом языке "Ruby on Rails". 
    </p>
    <p>При разработке использовались четыре фундаментальные операции POST, GET, PUT, DELETE.<br />
    Реализована система регестрации пользователей с использованием автоматически создаваемых идентификационных токенов и шифров, так что не один умник не сможет взломать ее.
      Так же реализован безопасный обработчик сессий, если злоумышленник попытается подменить идентификатор пользователя, Rails обнаружит несоответствие,
       основываясь на специальном session id, генерируемом для каждой сессии. 
    Проблему со спамом решили пока отложить и просто сделали запрет на кликабельность ссылок, т.е. при добавление новых записей в тексте не будет подсвечена ссылка и на нее нельзя нажимать.
    В итоге сайт имеет современную систему безопасности и хорошо защищен от злоумышленников.
    </p><hr />
    </td>
    <td>
    <h2>Инструменты разработчика</h2>
    <ul style="width:300px;">При создании <b>Люблю АйТи</b> использовались следующие приложения:<br />
      <li>Операционная система - Ubuntu Linux 11.04</li>
      <li>Среда разработки - Ruby v1.8.7 p302, Rails 3.0.7 (Ruby on Rails)</li>
      <li>Текстовый редактор - Bluefish, Gedit</li>
      <li>Графический редактор - Gimp</li>
      <li>Интернет браузеры - Mozilla Firefox, Google Chrome</li>
      <li>Другие WEB-приложения - github, heroku, gravatar.</li>
    </ul>
    </td>
</table>
