
 <tr>
 <% if signed_in? %>
  <td>
	     <div class="user_info">
	  <a href="<%= user_path(current_user) %>">
	    <%= gravatar_for current_user, :size => 30 %>
	    <span class="user_name">
	      <%= current_user.name %>
	    </span>
	    <span class="microposts">
	      <%= pluralize(current_user.microposts.count, "минипост") %>
	    </span>
	    <span class="microposts">
	      <%= pluralize(current_user.posts.count, "блог") %>
	    </span>
	  </a>
	</div>
    </td><hr />
<% end %>
 <td>
 <h1>В разработке</h1>
  <b><ol>На данный момент в разработке:</b>	<br />
	  <li id="hoe">Главной разработкой является ответвления в проекте в различные сферы деятельности, помимо IT;</li>
	  <li>
	    Динамические темы которые позволят пользователям загружать свои обои для фона;
	  </li>
	  <li>
	  Пользовательские и инжинерные темы (при выборе определенной метки будет изменен шрифт, фон и цветовая гамма);
	  </li>
	  <li>
	  Привязка пользователя к нику, на данный момент привязка осуществлена к id пользователя, это позволит упростить отправку приватного сообщения определенному пользователю;
	  </li>
	  <li>
	  Реплики, они позволят пользователям добовлять свои записи к чужим минипостам;
	  </li>
	  <li>
	  Обмен приватными сообщениями;
	  </li>
	  <li>
	  Добавление пункта "Вакансии" к модели пользователя;
	  </li>
	  <li>
	  Добавление ссылок к модели пользователя на свои странички в других социальных сетях, таких как вконтакте, твитер, мой мир, одноклассники, фейсбук.
          </li> 
  </ol>
 </td>
 </tr>

  
