<footer>
  <nav class="footer">
    <ul>
      <li class="copyright">Создатель <a href="http://localhost:3000/users/9">Ульянов Антон</a> ЛюблюАйТи.рф 2011</li>
      <li><%= link_to "О проекте", about_path %></li>
      <li><%= link_to "Соглашение", reglament_path %></li>
      <li><%= link_to "Разработчики", develop_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><%= link_to "Вакансии", vacancy_path %></li>
      <li><%= link_to "В разработке", indev_path %></li>
      <li title="Инструкции"><%= link_to "Помощь", help_path %></li>
    </ul>
  </nav>
</footer>
